# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3

# OS files
.DS_Store

# Large datasets
*.csv
data/

# ML Models and Pickles
*.pkl
*.pkl.gz

# Generated static and media files
staticfiles/
TravelPlanner/staticfiles/
media/
TravelPlanner/media/
*.log